
<div class="container">
  <h2>Component (Interview)</h2>
  <div class="col-xs-12">

  <!--<p>The .table-condensed class makes a table more compact by cutting cell padding in half:</p>-->
  <table  (clickOutside)= "Unclick()" class="table table-condensed">
    <thead>
    <tr>
      <th>Interviewer</th>
      <th>Vacant</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody *ngFor="let interview of (interviewState | async).interviews ; let i = index">

    <tr (click)="interviewSelected(i,interview)"  [ngClass]="i === count ?  'success': '' ">
      <td>{{interview.userName}}</td>
      <td>{{interview.vacantName}}</td>
      <td>{{interview.fecha | date:'medium'}}</td>
    </tr>


    </tbody>
  </table>
</div>
  <div class="col-xs-12">

    <form (ngSubmit)="UpdateInterview(F)" #F="ngForm">
    <button type="submit"  [disabled]="!ModifyEnabled" class="btn btn-warning">Submit Edit</button>
    <input ngModel name="newnameInput" #newnameInput="ngModel" [disabled]="!ModifyEnabled" type="text" placeholder="new name" [value]="name">
    <input ngModel name="newvacantInput" #newvacantInput="ngModel" [disabled]="!ModifyEnabled" type="text" placeholder="new name" [value]="vacant">
    </form>

  </div>

</div>


